<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stylish Footwear</title>
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/general.css">
    <script src="/js/api.js"></script>
</head>
<body class="animated-background">

    <main>

        <div class="form-box slide-in-bck-center">
            <form id="register-form" class="form">
                <span class="title">Login</span>
                <span class="subtitle">You can login from here if you have an account already!</span>
                <div class="form-container">
                  <input id="user_name" name="username" type="text" class="input" placeholder="Username" required>
                        <input id="pass-word" name="password" type="password" class="input" placeholder="Password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <div class="form-section">
              <p>Don't have an account? <a id="sign_up_link">Sign up</a> </p>
            </div>
            </div>
    

    </main>

    
    <script src="/js/login.js"></script>
</body>
</html>