
body {
     animation: color-change-2x 6s linear infinite alternate both;
}

/* Key frames */

@-webkit-keyframes color-change-2x {
     0% {
       background: #131313;
     }
     100% {
       background: #19181a;
     }
   }
   @keyframes color-change-2x {
     0% {
       background: #3f3f3f;
     }
     100% {
       background: #131313;
     }
   }
   